<%- include('header') %>

    Create a New Note

    <form method="post" action="/notes/new">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title" />

        <br>

        <label>Body</label>
        <textarea name="body"></textarea>

        <br>

        <button type="submit">Submit</button>
    </form>

<%- include('footer') %>

