<div>
    <h1>Series</h1>

    <a href="/haiku/series/create">Create New</a>
    <br>
    <br>
    
        
            {{#if series}}
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="series-list">
                {{#each series}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{description}}</td>
                            <td>
                                <a href="/haiku/tags/{{_id}}/edit">Edit</a>
                            </td>
                        </tr>
                {{/each}}
                    </tbody>
                </table>
            {{else}}
                You have not created any series yet.
            {{/if}}

</div>