{{> admin/header }}

    <body>
        <div class="container">

            {{> admin/topnav }}

            {{> admin/sidebar }}
            
            {{> admin/messages }}

            {{{ body }}}

            {{> admin/footer}}

        </div>
        

    </body>

</html>

