
{{> default/header }}

    <body>
        <div class="container">

            {{> default/topnav }}
            
            {{{ body }}}

            {{> default/footer}}

        </div>
        

    </body>

</html>

